.round {
   border-radius: 50%; /* Превращаем в круг */
    border: solid white;
  }

.header {
    background-image: url("header_background.png");
}

.body {
    background-image: url("body_background.png");
}

.skills {
    padding: 5px;
}